{% extends 'base.html.twig' %} 

{% block title %}Hello SubscriberController!
{%endblock %} 

{% block body %}
<div class="text-center mt-4">
    <h2>Subscribe to my newsletters</h2>
</div>
{{ form(subscriber_form) }}
{% endblock %}
